

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FSR Live Stream</title>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>FSR Live Voltage + Velocity</h1>
    <div id="plot" style="width:100%;height:400px;"></div>

    <script>
        const socket = io();
        let time = 0;
        let voltages = [];
        let velocities = [];
        let times = [];

        Plotly.newPlot('plot', [{
            y: [],
            name: 'Voltage',
            mode: 'lines',
            line: { color: 'blue' }
        }, {
            y: [],
            name: 'Velocity',
            mode: 'lines',
            line: { color: 'red' }
        }], {
            title: 'Real-Time FSR Data',
            xaxis: { title: 'Time (s)' },
            yaxis: { title: 'Value' }
        });

        socket.on("fsr_data", data => {
            time += 0.02;
            voltages.push(data.voltage);
            velocities.push(data.velocity);
            times.push(time);

            const MAX_POINTS = 200;
            if (voltages.length > MAX_POINTS) {
                voltages.shift();
                velocities.shift();
                times.shift();
            }

            Plotly.update('plot', {
                y: [voltages, velocities],
                x: [times, times]
            });
        });
    </script>
</body>
</html>